.bg{
    background-color: rgb(0, 0, 0);
    
}
.train h5{
    text-align: center;
    margin-top: 50px;

}
.train h3{
    text-align: center;
    
}

.train th, .train td{
    
    padding: 15px ;
    padding-left: 60px;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
th{
    background-color: yellow;
    color: rgb(50, 50, 50);
}
td{
    background-color: rgb(251, 251, 251);
    color: rgb(122, 122, 122);
}

.train img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.training input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 209, 0);
    border: none;
    color: white;
    width: 200px;
    height: 43px;
    font-weight: bold;
}
.training h5{
    margin-top: 170px;
    text-align: center;
}
.col-md-8 h4{
    font-weight: bold;
}
.col-md-8 p{
    font-size: 15px;
    color: rgb(129, 129, 129);
}

footer{
    background-color: black;
    padding-bottom: 20px;
    margin-top: 20px;
}
footer .container{
   padding-top: 30px;
}
